<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Shruthika Kondabrolu">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="Checkout - MonoMuse">
    <title>Checkout - MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo">
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a id="navselected" href="checkout.html">Checkout</a>
        </nav>
    </header>

    <div class="main">
        <form>
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br><br>

            <label for="quantity">Ticket Quantity:</label><br>
            <input type="number" id="quantity" name="quantity" min="1" required><br><br>

            <input type="submit" value="Submit">
        </form>
    </div>

    <footer>
        <p id="copyYear"></p>
    </footer>
</body>
</html>

